page-login {
  .back{
    background-image: url("../../assets/images/timg_.jpg");
    background-size: 100%;
  }
  .size{
    height: 65vw;
  }
  .font_size{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: lightslategrey;
  }
  .button_c{
    color: #32db64;
  }
}
